
  
  <body>
    <ul>
        <li><a routerLink="/booking-app">Booking-app</a></li>
        <li><a routerLink="/about" >About</a></li>
        <li><a routerLink="/contact" >Contact</a></li>
        <li><a routerLink="/book" >Book</a></li>
        <li><a routerLink="/photo">Photo</a></li>
        
        
      </ul>
           
      <h2 class="city">VENDA SUN HOTEL</h2>
      <p class="error" >YOUR DESTINATION!!.</p>
         

      <img src="https://www.omnihotels.com/-/media/images/hotels/ausctr/pool/ausctr-omni-austin-hotel-downtown-evening-pool.jpg?h=660&la=en&mw=1382&w=1170" alt="Trulli" width="100%" height="100%">

     
      
      </body>

  
<router-outlet></router-outlet>


    

  

