<ul>
    <li><a routerLink="/booking-app">Booking-app</a></li>
   <li><a routerLink="/about" >About</a></li>
    <li><a routerLink="/contact" >Contact</a></li>
    <li><a routerLink="/book" >Book</a></li>
    <li><a routerLink="/photo">Photo</a></li>
   
    </ul>
    
<div class="full-img">
  <div class="content-cont">
    <div class="info">

    <p>Venda sun Hotels by Marriott® is one of the most widely recognized hospitality brand in Africa with the most extensive footprint.</p>
    <p>Venda sun Hotels has the largest strategic footprint throughout the Continent and is highly committed to delivering every guest with a personalized service experience.</p>
    <p>The portfolio presents a full and diverse range of outstanding hotels, each is uniquely designed with its own </p>
    <p>personality, providing guests an opportunity to get a taste of the local flavor in a truly authentic way</p>
    <H2>THE THREE VENDA SUN HOTEL PRINCIPLES.</H2>
    <p>1. Respect for human dignity.</p>
    <p>2. The best guest service</p>
    <p>3. In search of excellence</p>
    <H2>GREEN POLICY Venda sun Hotels is dedicated to ensuring the longevity of our business for generations to come </H2>
    <H2>through responsibly managing our impact on the environment, our employees and the communities in which we operate..</H2>
    
    </div>
  </div>
</div>
